= simple_form_for(@city,:html=>{:class=>'form-horizontal'}) do |f|
  = f.error_notification       
  
  .form-inputs                 
    = f.input :name 
    - unless @city.new_record?
      = f.input :taxrate           
      = f.input :capital
      = f.input :coordinate 
  .form-actions                
    = f.button :submit

