- unless @defendcache.nil?
  %table.table.table-striped
    %thead
      %tr
        %th 顺序
        %th 攻方玩家
        %th 攻方城市
        %th 功方士兵ID
        %th 操作
    %tbody
      - @order = 0
      - @defendcache.each do |defend|
        - @order+=1
        %tr{:style=>"color:red"}
          %td= @order
          %td= defend[:user_id]
          %td= defend[:city_id]
          %td= defend[:arm_ids]
          %td= link_to "迎战","/fightarm/#{@city.id.to_s}/#{defend[:city_id]}/#{defend[:arm_ids].sub(",","_")}/#{defend[:ref]}/#{defend[:key]}",:remote=>true
