- unless @warcache.nil?
  %table.table.table-striped
    %thead
      %tr
        %th 顺序
        %th 进攻玩家
        %th 进攻城市
        %th 出兵时间
        %th 攻击时间
        %th 回城时间
        %th 士兵ID
        %th 状态
        %th 操作
    %tbody
      - @order = 0
      - @warcache.each do |war|
        - @order+=1
        %tr
          %td= @order
          %td= User.get_name(war[:user_id])
          %td= City.get_name(war[:city_id])
          %td= war[:start_time]
          %td= war[:attack_time]
          %td= war[:back_time]
          %td= war[:arm_ids]
          %td= get_war_status(war[:status])
          %td= link_to("回城","/backcity/#{@city.id.to_s}/#{war[:key]}",:remote=>true) if war[:hasop]

 
