.row
  .span12
    - unless notice.nil?
      %p  
        .alert.alert-success#notice= notice 
.row
  .span12
    %p
      %b 城池名称:
      = @city.name
    %p
      %b 士兵训练状况：
      #train_progress
    %p 
      %b 拥兵情况:
      #arm_list
%br
.row
  .span12
    = link_to '编辑', edit_city_path(@city)
    \|
    = link_to '返回城池列表', cities_path
%br
%br
.row
  .span6
    = render "levyform"
  .span6
    = render "attackform"  
