!!!
%html
  %head
    %title Kabam
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}           
    = stylesheet_link_tag    "application", :media => "all"  
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  %body
    .container
      .row
        .span12
          %b
          = "欢迎#{current_user.email}来玩游戏"
          = link_to "退出",destroy_user_session_path,:method=>"DELETE"
      = yield

